<h1>Editing student</h1>

<%= form_for @student, :url => save_path do |f| %>
  <%= hidden_field_tag 'oldname', @student.name %>
  <p>
    Name: <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', index_path %>

<% if @student.id %>
<%= link_to 'Show', show_path(@student.name) %>
<p>
  <div id="student_courses">
    <%= render :partial => 'courses' %>
  </div>

  <hr />

  <table>
    <% @courses.each do |c| %>
      <tr>
        <td><%= link_to "Add", add_course_path(@student.name, c.id), :remote => true %></td>
        <td><%= link_to c.name, c.path %></td>
      </tr>
    <% end %>
  </table>
</p>
<% end %>
